body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}
a {
  color: #000;
  text-decoration: none;
}
.header_box {
  position: relative;
  height: 47px;
  background-color: #2196f3;
}
.header_box a {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #fff;
  display: block;
  width: 75px;
  padding: 0 15px;
  margin-top: -2px;
}
.header_box a .btn_logo .header_box a img {
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* a태그의 높이값을 그대로 상속한 값의 100%  */
